## Como usar o query do pandas?

*Aprenda a utilizar o método query do pandas para fazer consulta nos datasets.*

Fala galera, tudo certo?

Hoje decidi escrever sobre este método de consulta, ele aparece de forma constante em meus estudos e me despertou grande curiosidade para ir atrás e estudar mais sobre.

### Antes de tudo:

Para acompanhar o passo a passo, disponibilizo todos os arquivos que você precisa:

Este é o dataset que será utilizado: [Avocado Prices](https://www.kaggle.com/neuromusic/avocado-prices)

E o código do tutorial você [encontra aqui!](https://github.com/matheusbattisti/pandas_query)

### loc e i loc:

Além do *query*, temos também estas duas formas excelentes para nos auxiliar na busca de dados no dataset.

A diferença do *query* para estes é que podemos utilizar uma expressão para encontrar o que buscamos, muito semelhante as queries de SQL.

Já o loc é primariamente label based, escolhemos as colunas pelo seu nome (label) e fazemos a busca com uma condição, e o iloc é index based, com este escolhemos as porções do dataset de acordo com a posição dos índices e uma condição.

Escrevi um post dedicado apenas a *loc e iloc*, se despertou sua curiosidade [confere aqui!](https://medium.com/matheusbudkewicz/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87)

No fim das contas loc e iloc são mais utilizados, principalmente loc. Porém acredito que query tem seus méritos, a consulta parece muito mais legível, facilita para que pessoas mais leigas entendam o que está acontecendo.

### Funcionamento do query:

Por baixo dos panos os resultados do *query* são passados para um DataFrame.loc e então é nos retornado o resultado, basicamente o retorno de *query* é do mesmo tipo do que o de *loc*.

Além disso o metodo *pandas.eval()* é utilizado no processo também, para avaliar a query solicitada.

Para mais detalhes, veja a [documentação.](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)

### Sintaxe do query:

Vamos entender como podemos utilizar o método:

In [2]:
# Importando as libs necessárias para o post
import pandas as pd
from numpy.random import randn

# Criando um dataset genérico
df = pd.DataFrame(randn(10, 2), columns=list('ab'))

# Executando a query
df.query('a >  b')

          a         b
3  1.719751 -0.491096
5  0.153516 -1.522723
6  1.132414 -1.086465
7  0.821656  0.074848
8  0.179051 -0.346346

#### df:

Aqui utilizamos nosso conjunto de dados, o que vamos aplicar a *query*.

#### query():

Chamamos o metodo *query()* no nosso conjunto de dados.

#### 'a > b':

Esta é a nossa expressão, no caso estamos solicitando todos os dados em que a é maior que b.

#### inplace:

Após a expressão o método *query*, aceita o método inplace para aplicar as modificações que fizermos no dataset, mas por default este é False.

### Avançando com query:

Agora que vimos como executar a função e a explicação da sintaxe, vamos nos aprofundar mais em outras formas de utilizá-lo.

Primeiro vamos ler o dataset:

In [16]:
# Importando o dataset de exemplos
df = pd.read_csv('avocado.csv', index_col = 0)

# Removendo espaços em branco das colunas
cols = df.columns
cols = cols.map(lambda x: x.replace(' ', '_') if isinstance(x, (str)) else x)
df.columns = cols

# Verificando dataset
df.head()

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

### Uma condição

Como vimos no primeiro exemplo, esta é consulta mais básica que *query* pode fazer, solicitamos dados a partir de uma condição, veja no exemplo:

In [4]:
# Solicitando os dados em que o AveragePrice é menor ou igual a 1
df.query('AveragePrice <= 1')

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
43,2015-03-01,0.99,55595.74,629.46,45633.34,181.49,9151.45,8986.06,165.39,0.00,conventional,2015,Albany
46,2015-02-08,0.99,51253.97,1357.37,39111.81,163.25,10621.54,10113.10,508.44,0.00,conventional,2015,Albany
47,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.00,conventional,2015,Albany
0,2015-12-27,0.99,386100.49,292097.36,27350.92,297.90,66354.31,48605.95,17748.36,0.00,conventional,2015,Atlanta
2,2015-12-13,0.96,417772.47,324932.28,31019.08,275.80,61545.31,38903.57,22628.21,13.53,conventional,2015,Atlanta
4,2015-11-29,0.99,333280.79,250288.65,28889.63,307.83,53794.68,33031.72,20738.55,24.41,conventional,2015,Atlanta
5,2015-11-22,1.00,356414.57,269799.03,29732.30,501.16,56382.08,36992.30,19389.78,0.00,conventional,2015,Atlanta
8,2015-11-01,0.99,419088.74,290457.50,62980.07,252.79,65398.38,39460.77,25929.39,8.22,conventional,2015,Atlanta
11,2015-10-11,0.95,433874.46,255933.32,91047.32,599.71,86294.11,41159.96,45134.15,0.00,conventional,2015,Atlanta
12,2015-10-04,0.96,418682.26,265797.09,92780.33,644.43,59460.41,14875.64,44584.77,0.00,conventional,2015,Atlanta
14,2015-09-20,0.93,516432.60,346118.51,82762.72,1349.41,86201.96,33698.43,52442.25,61.28,conventional,2015,Atlanta
16,2015-09-06,0.97,472136.53,303113.24,73675.85,911.25,94436.19,49833.55,44549.67,52.97,conventional,2015,Atlanta
23,2015-07-19,0.97,557212.99,446100.17,47838.42,1982.03,61292.37,45099.87,16192.50,0.00,conventional,2015,Atlanta
27,2015-06-21,0.99,554763.76,449311.47,30231.78,678.40,74542.11,55484.76,19010.81,46.54,conventional,2015,Atlanta
29,2015-06-07,0.99,551009.05,455565.92,22414.17,738.68,72290.28,50954.84,21329.99,5.45,conventional,2015,Atlanta
31,2015-05-24,0.96,623212.04,538126.94,27284.43,1260.80,56539.87,33867.00,22651.15,21.72,conventional,2015,Atlanta
34,2015-05-03,1.00,634213.10,538403.48,28568.26,1059.73,66181.63,32520.82,33660.81,0.00,conventional,2015,Atlanta
37,2015-04-12,0.99,451101.89,377578.48,22419.95,219.14,50884.32,25833.07,25051.25,0.00,conventional,2015,Atlanta
40,2015-03-22,1.00,479590.62,393591.03,23419.60,304.89,62275.10,40495.12,21766.54,13.44,conventional,2015,Atlanta
43,2015-03-01,0.99,512532.44,441544.00,21183.70,347.78,49456.96,32180.90,17273.38,2.68,conventional,2015,Atlanta
47,2015-02-01,0.96,636771.37,553198.56,31583.38,294.94,51694.49,10553.73,41140.76,0.00,conventional,2015,Atlanta
51,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
10,2015-10-18,0.99,1005603.78,59121.55,745385.26,49171.33,151925.64,146421.02,5504.62,0.00,conventional,2015,BaltimoreWashington
0,2015-12-27,0.97,62909.69,30482.25,2971.94,5894.40,23561.10,23520.19,5.69,35.22,conventional,2015,Boise
2,2015-12-13,0.99,58461.05,27148.61,2985.73,6458.44,21868.27,21842.87,4.44,20.96,conventional,2015,Boise
3,2015-12-06,0.71,95295.34,35590.98,12526.50,4086.26,43091.60,42734.53,0.00,357.07,conventional,2015,Boise
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2017-03-12,0.61,11558.79,523.31,1918.64,0.00,9116.84,66.66,9050.18,0.00,organic,2017,Nashville
43,2017-03-05,0.51,17135.45,481.81,1790.33,0.00,14863.31,122.78,14740.53,0.00,organic,2017,Nashville
44,2017-02-26,0.68,10920.78,329.80,2415.49,0.00,8175.49,115.00,8060.49,0.00,organic,2017,Nashville
45,2017-02-19,0.67,13534.67,284.78,2310.55,0.00,10939.34,120.01,10819.33,0.00,organic,2017,Nashville
46,2017-02-12,0.66,13802.00,337.21,2693.07,0.00,10771.72,196.14,10575.58,0.00,organic,2017,Nashville
49,2017-01-22,0.86,6627.34,172.58,2287.61,0.00,4167.15,57.77,4109.38,0.00,organic,2017,Nashville
39,2017-04-02,0.78,66751.16,3229.32,8942.34,13.62,54565.88,143.33,54422.55,0.00,organic,2017,Portland
40,2017-03-26,0.68,77379.73,2870.05,5856.87,18.61,68634.20,148.03,68486.17,0.00,organic,2017,Portland
43,2017-03-05,0.76,62780.86,6745.63,5868.60,3.26,50163.37,629.12,49534.25,0.00,organic,2017,Portland
47,2017-02-05,0.93,38945.01,3761.94,5756.42,14.59,29412.06,960.58,28451.48,0.00,organic,2017,Portland
48,2017-01-29,0.99,35700.10,3147.45,4138.38,1.63,28412.64,849.74,27562.90,0.00,organic,2017,Portland
49,2017-01-22,0.96,37742.57,2500.96,4287.60,6.54,30947.47,321.10,30626.37,0.00,organic,2017,Portland
50,2017-01-15,0.98,42695.84,3851.49,4314.91,8.19,34521.25,310.38,34210.87,0.00,organic,2017,Portland
52,2017-01-01,0.99,31827.50,4842.14,3008.78,0.00,23976.58,173.02,23803.56,0.00,organic,2017,Portland
38,2017-04-09,0.89,15201.67,382.49,2930.05,0.00,11889.13,2331.66,9557.47,0.00,organic,2017,Roanoke
40,2017-03-26,0.84,15330.00,258.31,2811.96,0.00,12259.73,2142.46,10117.27,0.00,organic,2017,Roanoke
43,2017-03-05,0.70,15787.49,337.56,2105.48,0.00,13344.45,2068.61,11275.84,0.00,organic,2017,Roanoke
44,2017-02-26,0.77,14724.39,246.43,2759.77,0.00,11718.19,2299.58,9418.61,0.00,organic,2017,Roanoke
45,2017-02-19,0.94,10024.18,231.37,2672.70,0.00,7120.11,1894.37,5225.74,0.00,organic,2017,Roanoke
46,2017-02-12,0.88,11414.90,212.09,3013.89,0.00,8188.92,1869.28,6319.64,0.00,organic,2017,Roanoke
40,2017-03-26,0.70,117379.74,1221.44,13622.19,6.80,102529.31,456.23,102073.08,0.00,organic,2017,Seattle
43,2017-03-05,0.99,68078.93,959.06,14930.47,15.44,52173.96,601.07,51572.89,0.00,organic,2017,Seattle
47,2017-02-05,0.98,51462.40,906.24,10333.71,18.80,40203.65,541.93,39661.72,0.00,organic,2017,Seattle
43,2017-03-05,0.99,17212.92,796.72,3353.02,211.52,12851.66,4300.38,8551.28,0.00,organic,2017,SouthCarolina
43,2017-03-05,0.99,155011.12,35367.23,5175.81,5.91,114462.17,95379.07,19083.10,0.00,organic,2017,SouthCentral
44,2017-02-26,0.99,171145.00,34520.03,6936.39,0.00,129688.58,117252.31,12436.27,0.00,organic,2017,SouthCentral
45,2017-02-19,1.00,147729.40,32258.65,5881.61,5.89,109583.25,94503.56,15079.69,0.00,organic,2017,SouthCentral
39,2017-04-02,0.98,402676.23,34093.33,58330.53,207.85,310044.52,155701.41,154343.11,0.00,organic,2017,West
40,2017-03-26,0.90,456645.91,36169.35,51398.72,139.55,368938.29,152159.53,216778.76,0.00,organic,2017,West
43,2017-03-05,0.99,367519.17,61166.48,55123.99,126.80,251101.90,112844.19,138257.71,0.00,organic,2017,West

In [22]:
# Verificando dados não são 'conventional'
df.query('type != "conventional"')

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,2015-12-27,1.83,989.55,8.16,88.59,0.00,892.80,892.80,0.00,0.00,organic,2015,Albany
1,2015-12-20,1.89,1163.03,30.24,172.14,0.00,960.65,960.65,0.00,0.00,organic,2015,Albany
2,2015-12-13,1.85,995.96,10.44,178.70,0.00,806.82,806.82,0.00,0.00,organic,2015,Albany
3,2015-12-06,1.84,1158.42,90.29,104.18,0.00,963.95,948.52,15.43,0.00,organic,2015,Albany
4,2015-11-29,1.94,831.69,0.00,94.73,0.00,736.96,736.96,0.00,0.00,organic,2015,Albany
5,2015-11-22,1.94,858.83,13.84,84.18,0.00,760.81,755.69,5.12,0.00,organic,2015,Albany
6,2015-11-15,1.89,1208.54,20.71,238.16,0.00,949.67,949.67,0.00,0.00,organic,2015,Albany
7,2015-11-08,1.88,1332.27,20.08,351.40,0.00,960.79,960.79,0.00,0.00,organic,2015,Albany
8,2015-11-01,1.88,1021.68,11.47,137.58,0.00,872.63,872.63,0.00,0.00,organic,2015,Albany
9,2015-10-25,1.83,1161.90,49.27,148.96,0.00,963.67,963.67,0.00,0.00,organic,2015,Albany
10,2015-10-18,1.97,969.29,10.31,158.07,0.00,800.91,800.91,0.00,0.00,organic,2015,Albany
11,2015-10-11,1.90,1170.01,28.65,88.25,0.00,1053.11,1035.28,17.83,0.00,organic,2015,Albany
12,2015-10-04,1.98,1145.88,5.74,165.26,0.00,974.88,964.68,10.20,0.00,organic,2015,Albany
13,2015-09-27,1.98,814.13,13.79,140.23,0.00,660.11,660.11,0.00,0.00,organic,2015,Albany
14,2015-09-20,1.98,774.20,42.63,228.13,0.00,503.44,503.44,0.00,0.00,organic,2015,Albany
15,2015-09-13,1.99,902.50,13.86,105.13,0.00,783.51,783.51,0.00,0.00,organic,2015,Albany
16,2015-09-06,1.86,1168.86,30.13,96.18,0.00,1042.55,1042.55,0.00,0.00,organic,2015,Albany
17,2015-08-30,1.88,1239.16,17.27,65.08,0.00,1156.81,1156.81,0.00,0.00,organic,2015,Albany
18,2015-08-23,1.87,1275.64,24.45,97.82,0.00,1153.37,1153.37,0.00,0.00,organic,2015,Albany
19,2015-08-16,2.00,1467.23,24.56,168.41,0.00,1274.26,1274.26,0.00,0.00,organic,2015,Albany
20,2015-08-09,1.88,1421.47,79.82,106.81,0.00,1234.84,1234.84,0.00,0.00,organic,2015,Albany
21,2015-08-02,2.00,1223.94,17.66,103.62,0.00,1102.66,1102.66,0.00,0.00,organic,2015,Albany
22,2015-07-26,2.01,1449.04,99.16,165.27,0.00,1184.61,1184.61,0.00,0.00,organic,2015,Albany
23,2015-07-19,2.08,1076.23,50.86,112.36,0.00,913.01,913.01,0.00,0.00,organic,2015,Albany
24,2015-07-12,2.01,1175.34,34.27,92.17,0.00,1048.90,1048.90,0.00,0.00,organic,2015,Albany
25,2015-07-05,2.04,1573.19,50.69,183.90,0.00,1338.60,1338.60,0.00,0.00,organic,2015,Albany
26,2015-06-28,2.02,1200.61,22.35,124.70,0.00,1053.56,1053.56,0.00,0.00,organic,2015,Albany
27,2015-06-21,2.09,1053.73,17.59,107.87,0.00,928.27,928.27,0.00,0.00,organic,2015,Albany
28,2015-06-14,2.03,1542.45,79.45,211.46,0.00,1251.54,1251.54,0.00,0.00,organic,2015,Albany
29,2015-06-07,1.93,1547.03,25.60,125.66,0.00,1395.77,1395.77,0.00,0.00,organic,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

### Duas condições

Aqui o diferencial é que podemos adicionar o operador &, que vai nos proporcionar adicionar mais uma condição, tornando nossa consulta mais específica, confira:

In [20]:
# Vamos verificar dados com AveragePrice maior que 1 e Total_Volume < 100000
df.query('AveragePrice > 1 & Total_Volume < 100000')

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
30,2015-05-31,1.23,95123.62,922.37,70469.69,50.55,23681.01,23222.49,458.52,0.00,conventional,2015,Albany
34,2015-05-03,1.20,59197.67,919.87,45490.05,217.24,12570.51,12201.95,368.56,0.00,conventional,2015,Albany
35,2015-04-26,1.22,49585.46,875.65,35841.75,89.62,12778.44,12076.83,701.61,0.00,conventional,2015,Albany
36,2015-04-19,1.19,49064.73,774.15,33941.51,47.15,14301.92,13602.97,698.95,0.00,conventional,2015,Albany
37,2015-04-12,1.13,48364.29,864.27,30374.15,21.50,17104.37,16438.49,665.88,0.00,conventional,2015,Albany
38,2015-04-05,1.16,47362.13,961.77,35577.66,93.76,10728.94,9869.16,755.61,104.17,conventional,2015,Albany
39,2015-03-29,1.02,67799.08,1402.28,58623.22,89.50,7684.08,7208.49,475.59,0.00,conventional,2015,Albany
40,2015-03-22,1.12,46346.85,2141.83,34313.56,141.80,9749.66,9252.60,497.06,0.00,conventional,2015,Albany
41,2015-03-15,1.11,43045.79,2128.26,30447.17,99.67,10370.69,9989.59,381.10,0.00,conventional,2015,Albany
42,2015-03-08,1.07,40507.36,795.68,30370.64,159.05,9181.99,8827.55,354.44,0.00,conventional,2015,Albany
44,2015-02-22,1.07,45675.05,1088.38,35056.13,151.00,9379.54,9000.16,379.38,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2018-02-11,1.23,4815.48,69.81,56.64,0.00,4689.03,1972.88,2716.15,0.00,organic,2018,Syracuse
7,2018-02-04,1.22,6294.16,85.22,152.09,0.00,6056.85,2847.48,3209.37,0.00,organic,2018,Syracuse
8,2018-01-28,1.19,6393.58,30.09,128.49,0.00,6235.00,5670.94,564.06,0.00,organic,2018,Syracuse
9,2018-01-21,1.27,3159.80,92.12,73.17,0.00,2994.51,2117.69,876.82,0.00,organic,2018,Syracuse
10,2018-01-14,1.25,4343.09,116.19,64.16,0.00,4162.74,1986.09,2176.65,0.00,organic,2018,Syracuse
11,2018-01-07,1.25,4764.47,59.95,133.89,0.00,4570.63,3125.05,1445.58,0.00,organic,2018,Syracuse
0,2018-03-25,1.41,10028.49,138.15,773.22,0.00,9117.12,8208.82,908.30,0.00,organic,2018,Tampa
1,2018-03-18,1.50,10311.24,190.28,901.77,0.00,9219.19,7687.03,1532.16,0.00,organic,2018,Tampa
2,2018-03-11,1.31,8115.07,101.14,392.38,0.00,7621.55,7494.08,127.47,0.00,organic,2018,Tampa
3,2018-03-04,1.51,9851.33,223.68,839.86,0.00,8787.79,7327.76,1460.03,0.00,organic,2018,Tampa
4,2018-02-25,1.37,9144.20,206.39,542.89,0.00,8394.92,7895.92,499.00,0.00,organic,2018,Tampa
5,2018-02-18,1.50,8534.53,131.47,781.00,0.00,7622.06,6452.23,1169.83,0.00,organic,2018,Tampa
6,2018-02-11,1.34,8467.46,40.73,486.03,0.00,7940.70,7499.96,440.74,0.00,organic,2018,Tampa
7,2018-02-04,1.32,7363.56,89.59,440.31,0.00,6833.66,6827.78,5.88,0.00,organic,2018,Tampa
8,2018-01-28,1.61,7695.89,156.01,859.20,0.00,6680.68,5567.39,1113.29,0.00,organic,2018,Tampa
9,2018-01-21,1.52,6871.05,76.66,407.09,0.00,6387.30,6375.55,11.75,0.00,organic,2018,Tampa
10,2018-01-14,1.53,7238.04,106.98,496.61,0.00,6634.45,6634.45,0.00,0.00,organic,2018,Tampa
11,2018-01-07,1.51,7370.53,42.17,400.58,0.00,6927.78,6921.12,6.66,0.00,organic,2018,Tampa
0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

In [23]:
# Verificando dados que não são da Albania e são de 2016
df.query('region != "Albany" & year == 2016')

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,2016-12-25,0.91,502787.29,205855.78,86015.43,184.62,210731.46,118884.36,91847.10,0.00,conventional,2016,Atlanta
1,2016-12-18,0.94,463483.07,191753.03,80565.05,283.15,190881.84,114872.09,76009.75,0.00,conventional,2016,Atlanta
2,2016-12-11,1.06,422026.71,186343.72,56200.04,171.64,179311.31,112574.78,66736.53,0.00,conventional,2016,Atlanta
3,2016-12-04,1.03,475815.02,210602.15,93414.72,207.15,171591.00,67806.59,103784.41,0.00,conventional,2016,Atlanta
4,2016-11-27,1.22,372144.31,161631.62,55595.26,167.47,154749.96,89194.82,65518.75,36.39,conventional,2016,Atlanta
5,2016-11-20,1.14,448936.04,189206.59,58005.57,167.63,201556.25,128442.19,72236.28,877.78,conventional,2016,Atlanta
6,2016-11-13,1.25,408260.87,185966.29,63348.63,180.57,158765.38,92308.66,66233.39,223.33,conventional,2016,Atlanta
7,2016-11-06,1.29,393826.35,167083.47,65207.61,168.26,161367.01,82410.76,78956.25,0.00,conventional,2016,Atlanta
8,2016-10-30,1.26,408314.87,162367.80,69366.17,160.28,176420.62,94305.34,82115.28,0.00,conventional,2016,Atlanta
9,2016-10-23,1.23,422281.05,171215.14,67824.33,166.14,183075.44,110435.47,72639.97,0.00,conventional,2016,Atlanta
10,2016-10-16,1.16,459564.78,188793.29,82089.21,103.96,188578.32,87593.44,100984.88,0.00,conventional,2016,Atlanta
11,2016-10-09,1.23,452109.18,187260.61,69425.23,156.52,195266.82,95659.91,99113.85,493.06,conventional,2016,Atlanta
12,2016-10-02,1.26,440044.40,182418.33,69411.24,140.88,188073.95,104367.67,83706.28,0.00,conventional,2016,Atlanta
13,2016-09-25,1.26,435756.80,174532.18,77098.81,131.95,183993.86,109841.32,73830.32,322.22,conventional,2016,Atlanta
14,2016-09-18,1.01,527700.95,233800.98,70931.17,132.15,222836.65,139748.72,82907.37,180.56,conventional,2016,Atlanta
15,2016-09-11,0.90,597759.18,286405.76,54347.66,206.41,256799.35,194086.09,62713.26,0.00,conventional,2016,Atlanta
16,2016-09-04,0.89,614657.03,356593.20,55475.65,130.69,202457.49,126235.35,75979.08,243.06,conventional,2016,Atlanta
17,2016-08-28,0.95,539642.66,294240.79,42109.47,123.63,203168.77,132127.40,70394.15,647.22,conventional,2016,Atlanta
18,2016-08-21,0.94,549139.07,293240.47,48349.86,82.91,207465.83,160464.82,47001.01,0.00,conventional,2016,Atlanta
19,2016-08-14,0.87,666493.32,362923.69,60912.98,86.59,242570.06,182840.11,59729.95,0.00,conventional,2016,Atlanta
20,2016-08-07,1.04,508354.34,252171.77,63197.28,58.44,192926.85,131851.39,61075.46,0.00,conventional,2016,Atlanta
21,2016-07-31,0.98,537633.39,232640.52,76301.71,64.96,228626.20,161931.73,66694.47,0.00,conventional,2016,Atlanta
22,2016-07-24,1.00,495686.56,215522.82,92726.36,110.76,187326.62,120773.07,66553.55,0.00,conventional,2016,Atlanta
23,2016-07-17,1.01,474063.61,202638.65,82942.03,164.21,188318.72,108732.19,78958.75,627.78,conventional,2016,Atlanta
24,2016-07-10,0.92,560865.26,240109.35,95457.09,256.20,225042.62,146617.68,78213.83,211.11,conventional,2016,Atlanta
25,2016-07-03,0.77,789398.22,310551.19,150339.87,165.28,328341.88,216115.15,110544.79,1681.94,conventional,2016,Atlanta
26,2016-06-26,0.85,606856.80,272203.41,82764.12,173.96,251715.31,199572.08,52123.23,20.00,conventional,2016,Atlanta
27,2016-06-19,0.78,692767.07,361697.69,96388.12,264.12,234417.14,148946.46,84045.68,1425.00,conventional,2016,Atlanta
28,2016-06-12,0.78,608386.28,313216.34,61563.67,1174.78,232431.49,169986.13,55753.42,6691.94,conventional,2016,Atlanta
29,2016-06-05,0.75,691201.38,341027.59,123405.98,561.72,226206.09,112958.38,105974.65,7273.06,conventional,2016,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2016-07-24,1.99,16025.11,3853.35,4310.26,8.49,7853.01,3647.77,4205.24,0.00,organic,2016,WestTexNewMexico
23,2016-07-17,1.89,20129.64,4933.26,4562.27,0.00,10634.11,5736.67,4897.44,0.00,organic,2016,WestTexNewMexico
24,2016-07-10,1.65,23418.88,5754.48,5221.55,0.00,12442.85,5753.33,6689.52,0.00,organic,2016,WestTexNewMexico
25,2016-07-03,1.43,22964.25,6310.64,5419.26,8.52,11225.83,3343.33,7882.50,0.00,organic,2016,WestTexNewMexico
26,2016-06-26,1.38,21667.76,5547.63,6169.07,14.21,9936.85,4803.33,5133.52,0.00,organic,2016,WestTexNewMexico
27,2016-06-19,1.37,18402.19,6836.26,6446.18,14.24,5105.51,2193.34,2912.17,0.00,organic,2016,WestTexNewMexico
28,2016-06-12,1.36,19518.92,8202.09,5855.07,1465.64,3996.12,2191.79,1804.33,0.00,organic,2016,WestTexNewMexico
29,2016-06-05,1.29,24167.80,6253.60,7313.37,1359.70,9241.13,5613.33,3627.80,0.00,organic,2016,WestTexNewMexico
30,2016-05-29,1.35,47067.58,4805.12,25176.83,7675.68,9409.95,6003.34,3406.61,0.00,organic,2016,WestTexNewMexico
31,2016-05-22,1.36,30983.48,6703.59,12464.46,999.34,10816.09,4708.30,6107.79,0.00,organic,2016,WestTexNewMexico
32,2016-05-15,1.25,50809.30,6329.81,28751.94,572.18,15155.37,5948.70,9206.67,0.00,organic,2016,WestTexNewMexico
33,2016-05-08,1.10,41244.99,4759.58,9207.54,14337.18,12940.69,7111.59,5829.10,0.00,organic,2016,WestTexNewMexico
34,2016-05-01,1.09,52358.11,5422.01,17237.12,21948.79,7750.19,5167.45,2582.74,0.00,organic,2016,WestTexNewMexico
35,2016-04-24,1.36,38767.82,2907.01,25699.00,262.86,9898.95,5774.63,4124.32,0.00,organic,2016,WestTexNewMexico
36,2016-04-17,1.36,37885.90,2655.44,25121.02,177.35,9932.09,5036.29,4895.80,0.00,organic,2016,WestTexNewMexico
37,2016-04-10,1.31,21561.29,3204.95,7746.53,111.55,10498.26,8558.96,1939.30,0.00,organic,2016,WestTexNewMexico
38,2016-04-03,1.29,20698.70,2278.61,6800.76,58.05,11561.28,10538.62,1022.66,0.00,organic,2016,WestTexNewMexico
39,2016-03-27,1.41,17528.02,2983.30,6722.24,53.08,7769.40,7268.06,501.34,0.00,organic,2016,WestTexNewMexico
40,2016-03-20,1.47,15705.35,2731.96,6730.01,52.95,6190.43,6185.08,5.35,0.00,organic,2016,WestTexNewMexico
41,2016-03-13,1.30,18611.51,1716.44,8405.31,60.03,8429.73,8365.70,64.03,0.00,organic,2016,WestTexNewMexico
42,2016-03-06,1.32,18916.59,2653.06,5464.63,14.37,10784.53,10704.67,79.86,0.00,organic,2016,WestTexNewMexico
43,2016-02-28,1.36,16034.56,2064.70,5044.66,7.17,8918.03,8879.53,38.50,0.00,organic,2016,WestTexNewMexico
44,2016-02-21,1.48,14413.74,1308.04,4865.24,4.77,8235.69,7090.72,1144.97,0.00,organic,2016,WestTexNewMexico
45,2016-02-14,1.39,15805.58,1483.39,4975.83,38.02,9308.34,6330.13,2978.21,0.00,organic,2016,WestTexNewMexico
46,2016-02-07,1.49,13712.44,1451.00,4199.43,37.92,8024.09,7913.50,110.59,0.00,organic,2016,WestTexNewMexico
47,2016-01-31,1.64,11626.56,1618.90,4032.03,2.34,5973.29,5957.67,15.62,0.00,organic,2016,WestTexNewMexico
48,2016-01-24,1.47,12171.04,1554.09,4656.41,9.36,5951.18,5852.36,98.82,0.00,organic,2016,WestTexNewMexico
49,2016-01-17,1.45,13237.48,1912.60,4779.17,25.72,6519.99,6447.25,72.74,0.00,organic,2016,WestTexNewMexico
50,2016-01-10,1.37,12647.90,1591.60,4070.29,23.41,6962.60,6780.56,182.04,0.00,organic,2016,WestTexNewMexico
51,2016-01-03,1.58,9667.05,1820.39,2783.11,16.41,5047.14,4651.16,395.98,0.00,organic,2016,WestTexNewMexico

In [25]:
# Verificando Average Price maior que 1.50 ou Large_Bags maior que 200000
df.query('AveragePrice == 1 | Large_Bags > 200000')

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
5,2015-11-22,1.00,356414.57,269799.03,29732.30,501.16,56382.08,36992.30,19389.78,0.00,conventional,2015,Atlanta
34,2015-05-03,1.00,634213.10,538403.48,28568.26,1059.73,66181.63,32520.82,33660.81,0.00,conventional,2015,Atlanta
40,2015-03-22,1.00,479590.62,393591.03,23419.60,304.89,62275.10,40495.12,21766.54,13.44,conventional,2015,Atlanta
51,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.00,conventional,2015,Atlanta
34,2015-05-03,1.00,85466.99,66880.12,7942.34,4289.72,6354.81,6349.93,0.00,4.88,conventional,2015,Boise
41,2015-03-15,1.00,65918.28,51472.29,7018.29,2981.80,4445.90,4445.90,0.00,0.00,conventional,2015,Boise
5,2015-11-22,1.00,133618.33,30028.69,53644.97,24221.58,25723.09,22228.47,3494.62,0.00,conventional,2015,Charlotte
34,2015-05-03,1.00,261492.20,50203.31,69446.61,77627.49,64214.79,58626.28,5588.51,0.00,conventional,2015,Charlotte
8,2015-11-01,1.00,807041.46,69420.04,562214.56,106536.92,68869.94,68447.93,422.01,0.00,conventional,2015,Chicago
14,2015-09-20,1.00,165068.86,86031.90,31599.19,26200.37,21237.40,12029.73,4671.88,4535.79,conventional,2015,Columbus
20,2015-08-09,1.00,167387.90,64121.12,52440.39,20857.42,29968.97,20668.00,7460.64,1840.33,conventional,2015,Columbus
32,2015-05-17,1.00,180511.78,97341.26,38624.07,22934.89,21611.56,15997.43,2463.86,3150.27,conventional,2015,Columbus
36,2015-04-19,1.00,172913.44,80303.92,40370.03,26369.27,25870.22,20819.20,1861.68,3189.34,conventional,2015,Columbus
0,2015-12-27,0.98,625475.10,93034.20,246747.13,19103.69,266590.08,38620.02,227884.21,85.85,conventional,2015,Denver
2,2015-12-13,0.83,741702.50,96222.34,321764.32,29349.34,294366.50,34244.40,260040.92,81.18,conventional,2015,Denver
3,2015-12-06,0.76,838225.19,111259.34,378124.28,8807.96,340033.61,35086.04,304844.07,103.50,conventional,2015,Denver
5,2015-11-22,0.85,724865.72,100047.56,323796.50,18215.73,282805.93,31358.60,251447.33,0.00,conventional,2015,Denver
6,2015-11-15,0.82,925618.09,98269.82,428998.81,20029.10,378320.36,36279.71,342040.65,0.00,conventional,2015,Denver
44,2015-02-22,1.00,899302.80,153410.25,584093.63,5686.33,156112.59,62564.22,93534.16,14.21,conventional,2015,Denver
14,2015-09-20,1.00,373545.23,129945.11,71335.62,111298.27,60966.23,38180.88,839.26,21946.09,conventional,2015,Detroit
26,2015-06-28,1.00,329753.61,135230.94,30175.61,48618.79,115728.27,111301.27,2126.05,2300.95,conventional,2015,Detroit
3,2015-12-06,1.00,2981347.20,401676.14,1680591.43,398320.64,500758.99,325850.00,124306.44,50602.55,conventional,2015,GreatLakes
8,2015-11-01,1.00,3229124.75,436343.74,1825512.93,388703.05,578565.03,399665.31,133071.89,45827.83,conventional,2015,GreatLakes
23,2015-07-19,1.00,173741.30,111744.79,24068.98,647.13,37280.40,17718.50,19561.90,0.00,conventional,2015,Jacksonville
31,2015-05-24,1.00,195410.86,139484.96,13258.26,1049.26,41618.38,20782.40,20835.98,0.00,conventional,2015,Jacksonville
21,2015-08-02,1.00,2742211.46,1883744.01,503247.72,58532.61,296687.12,291524.01,2991.10,2172.01,conventional,2015,LosAngeles
39,2015-03-29,1.00,2566690.28,1672623.80,535932.20,69022.84,289111.44,250801.63,36844.97,1464.84,conventional,2015,LosAngeles
30,2015-05-31,1.00,92345.33,7195.55,58910.38,1622.81,24616.59,11607.93,12647.23,361.43,conventional,2015,Louisville
39,2015-03-29,1.00,93802.08,2639.24,64264.48,1117.00,25781.36,22498.91,3113.19,169.26,conventional,2015,Louisville
46,2015-02-08,1.00,87054.02,6359.25,59424.49,1307.44,19962.84,10210.07,9464.13,288.64,conventional,2015,Louisville
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,2017-07-02,1.74,1173393.06,128156.10,360890.48,3393.83,680952.65,459881.11,221071.54,0.00,organic,2017,TotalUS
27,2017-06-25,1.77,1101009.92,123317.10,341073.87,2613.51,634005.44,411977.56,222027.88,0.00,organic,2017,TotalUS
28,2017-06-18,1.71,1304554.29,169434.58,442594.36,2140.13,690385.22,435150.06,255235.16,0.00,organic,2017,TotalUS
29,2017-06-11,1.56,1397448.17,160841.97,339777.07,3623.46,893205.67,468156.32,425049.35,0.00,organic,2017,TotalUS
30,2017-06-04,1.64,1352960.47,165665.93,387057.95,2865.59,797371.00,525280.48,272090.52,0.00,organic,2017,TotalUS
31,2017-05-28,1.69,1302205.55,163384.37,357431.20,3195.15,778194.83,497848.02,280346.81,0.00,organic,2017,TotalUS
32,2017-05-21,1.71,1210560.61,166985.41,351498.50,4322.99,687753.71,436225.68,251528.03,0.00,organic,2017,TotalUS
33,2017-05-14,1.55,1375125.12,164697.92,339920.60,4618.45,865888.15,566862.84,299025.31,0.00,organic,2017,TotalUS
34,2017-05-07,1.57,1394126.23,172722.76,386288.18,4161.33,830953.96,489455.97,341497.99,0.00,organic,2017,TotalUS
35,2017-04-30,1.68,1248175.29,199039.61,421709.78,5187.46,622238.44,400529.93,221708.51,0.00,organic,2017,TotalUS
36,2017-04-23,1.61,1190461.18,152604.41,347557.13,3245.62,687054.02,460390.87,226663.15,0.00,organic,2017,TotalUS
37,2017-04-16,1.49,1493331.28,176684.11,437947.67,5096.43,873603.07,576538.30,297064.77,0.00,organic,2017,TotalUS
38,2017-04-09,1.43,1387436.32,148803.12,362152.44,8972.11,867508.65,512721.31,354787.34,0.00,organic,2017,TotalUS
39,2017-04-02,1.42,1492167.41,183101.86,430841.87,3767.76,874455.92,557296.92,317159.00,0.00,organic,2017,TotalUS
40,2017-03-26,1.29,1581127.36,160491.66,355541.13,3888.05,1061206.52,586139.54,475066.98,0.00,organic,2017,TotalUS
41,2017-03-19,1.50,1284018.65,172196.56,411359.03,3304.62,697158.44,486101.39,211057.05,0.00,organic,2017,TotalUS
42,2017-03-12,1.38,1337596.89,152896.45,330081.75,3188.52,851430.17,491035.95,360394.22,0.00,organic,2017,TotalUS
43,2017-03-05,1.16,1619398.24,184006.16,374220.48,2542.94,1058628.66,497098.27,561530.39,0.00,organic,2017,TotalUS
44,2017-02-26,1.21,1436663.15,150448.17,368526.18,3747.77,913941.03,505040.30,408900.73,0.00,organic,2017,TotalUS
45,2017-02-19,1.31,1634877.11,250591.21,632101.53,3295.09,748889.28,433926.87,314962.41,0.00,organic,2017,TotalUS
46,2017-02-12,1.41,1060775.98,136636.34,297764.40,3486.20,622889.04,410668.26,212220.78,0.00,organic,2017,TotalUS
47,2017-02-05,1.36,1015621.03,136100.39,314011.26,2238.78,563270.60,342705.32,220565.28,0.00,organic,2017,TotalUS
51,2017-01-08,1.43,990721.83,117721.87,283532.68,8697.35,580769.93,379088.19,201681.74,0.00,organic,2017,TotalUS
34,2017-05-07,1.19,442825.93,85438.01,70952.57,396.53,286038.82,84763.47,201275.35,0.00,organic,2017,West
40,2017-03-26,0.90,456645.91,36169.35,51398.72,139.55,368938.29,152159.53,216778.76,0.00,organic,2017,West
1,2018-03-18,1.54,1675804.22,170801.85,444949.69,1045.38,1058651.50,837351.85,221129.46,170.19,organic,2018,TotalUS
3,2018-03-04,1.52,1634430.77,142345.03,390129.50,1225.97,1099871.68,831885.50,267818.31,167.87,organic,2018,TotalUS
4,2018-02-25,1.57,1459852.55,122912.97,340374.83,1063.32,994471.50,765056.82,229158.56,256.12,organic,2018,TotalUS
7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS

### Usando In

Podemos também verificar também por resultados especifícos, usando o in, veja:

In [21]:
# Consultando dados apenas dos anos 2015 e 2017
df.query('year in [2015,2017]')

,Date,AveragePrice,Total_Volume,4046,4225,4770,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2017-08-06,1.78,15242.53,2134.24,4592.66,331.60,8184.03,8171.22,12.81,0.00,organic,2017,WestTexNewMexico
22,2017-07-30,1.67,17633.69,2618.13,3169.61,1056.54,10789.41,10733.97,55.44,0.00,organic,2017,WestTexNewMexico
23,2017-07-23,1.60,19144.32,1832.11,4752.03,1914.09,10646.09,10577.95,68.14,0.00,organic,2017,WestTexNewMexico
24,2017-07-16,1.60,19126.81,1763.86,4382.01,2211.74,10769.20,10652.21,116.99,0.00,organic,2017,WestTexNewMexico
25,2017-07-09,1.65,18244.09,2295.76,3701.18,38.67,12208.48,11637.39,571.09,0.00,organic,2017,WestTexNewMexico
26,2017-07-02,1.59,20486.25,2454.99,3470.63,0.00,14560.63,10390.44,4170.19,0.00,organic,2017,WestTexNewMexico
27,2017-06-11,1.66,21170.11,3042.11,3588.46,0.00,14539.54,7757.19,6782.35,0.00,organic,2017,WestTexNewMexico
28,2017-06-04,1.59,25886.30,3305.88,3706.22,0.00,18874.20,8654.49,10219.71,0.00,organic,2017,WestTexNewMexico
29,2017-05-28,1.65,18798.80,2703.95,4148.35,11.11,11935.39,5244.73,6690.66,0.00,organic,2017,WestTexNewMexico
30,2017-05-21,1.73,16899.03,3988.80,5269.43,16.64,7624.16,4373.14,3251.02,0.00,organic,2017,WestTexNewMexico
31,2017-05-14,1.77,18131.79,5410.04,5406.61,0.00,7315.14,4198.56,3116.58,0.00,organic,2017,WestTexNewMexico
32,2017-05-07,1.74,16697.08,3986.53,4485.20,22.54,8202.81,5333.82,2868.99,0.00,organic,2017,WestTexNewMexico
33,2017-04-30,1.76,15686.98,1763.36,5824.80,2.82,8096.00,4515.13,3580.87,0.00,organic,2017,WestTexNewMexico
34,2017-04-23,1.63,19234.05,1758.80,7535.06,16.99,9923.20,5530.18,4393.02,0.00,organic,2017,WestTexNewMexico
35,2017-04-16,1.23,29765.63,2233.24,4805.48,17.29,22709.62,21441.99,1267.63,0.00,organic,2017,WestTexNewMexico
36,2017-04-09,1.19,30499.28,2386.19,3749.72,34.72,24328.65,24193.63,135.02,0.00,organic,2017,WestTexNewMexico
37,2017-04-02,1.04,28803.50,2551.72,2586.16,11.61,23654.01,23267.01,387.00,0.00,organic,2017,WestTexNewMexico
38,2017-03-26,1.11,32073.43,3041.33,3451.21,66.76,25514.13,25191.62,322.51,0.00,organic,2017,WestTexNewMexico
39,2017-03-19,1.11,26767.63,4255.75,3855.69,11.67,18644.52,13278.06,5366.46,0.00,organic,2017,WestTexNewMexico
40,2017-03-12,1.15,26522.49,3289.27,3877.22,26.38,19329.62,17880.59,1449.03,0.00,organic,2017,WestTexNewMexico
41,2017-03-05,1.23,24969.30,2292.42,4876.69,52.82,17747.37,17114.89,632.48,0.00,organic,2017,WestTexNewMexico
42,2017-02-26,1.16,39054.83,3021.26,15568.68,11.77,20453.12,20299.52,153.60,0.00,organic,2017,WestTexNewMexico
43,2017-02-19,1.24,25777.67,2208.27,5671.84,35.60,17861.96,17821.27,40.69,0.00,organic,2017,WestTexNewMexico
44,2017-02-12,1.40,28191.45,2248.71,9177.71,37.92,16727.11,16570.14,156.97,0.00,organic,2017,WestTexNewMexico
45,2017-02-05,1.31,21376.32,2161.38,5646.59,11.84,13556.51,13372.37,184.14,0.00,organic,2017,WestTexNewMexico
46,2017-01-29,1.30,17839.37,1486.34,4498.48,26.12,11828.43,11821.76,6.67,0.00,organic,2017,WestTexNewMexico
47,2017-01-22,1.21,16430.64,1413.93,2820.53,20.25,12175.93,12073.07,102.86,0.00,organic,2017,WestTexNewMexico
48,2017-01-15,1.19,17014.23,1203.87,2904.22,23.07,12883.07,12476.57,406.50,0.00,organic,2017,WestTexNewMexico
49,2017-01-08,1.18,14375.39,1327.98,2617.20,5.75,10424.46,10283.85,140.61,0.00,organic,2017,WestTexNewMexico
50,2017-01-01,1.28,15307.87,867.66,3434.02,37.30,10968.89,10815.88,153.01,0.00,organic,2017,WestTexNewMexico

## Conclusão:

Vimos toda a sintaxe passo a passo do método e também como executar o mesmo em diversas situações.

Perceba que podemos utilizar os operadores lógicos, como:

- AND (&);
- OR (|);
- FALSE (!);

Com este auxílio é possível formar as mais diversificadas queries, vimos também que é possível verificar elementos dentro de um array com o IN, conseguindo assim resultados mais específicos.

Recomedo fortemente que você também aprenda a usar loc e iloc, pois como o *query* é mais confortável e mais *readable*, podemos nos acostumar com ele e depois nos depararmos com estes outros dois no dia a dia do trabalho, e isso pode ser um pequeno problema.

Por hoje é isso pessoal, obrigado por lerem até o fim! :)


#### Tópicos que você pode gostar:

- [Iniciando na lib pandas](https://medium.com/matheusbudkewicz/o-que-%C3%A9-pandas-dando-os-primeiros-passos-na-lib-589420d075e9)
- [Iniciando com NumPy](https://medium.com/matheusbudkewicz/iniciando-no-numpy-como-utilizar-e-m%C3%A9todos-importantes-da-lib-d00f88599c40)
- [loc e iloc](https://medium.com/matheusbudkewicz/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87)