## Como usar o query do pandas?

*Aprenda a utilizar o método query do pandas para fazer consulta nos datasets.*

Fala galera, tudo certo?

Hoje decidi escrever sobre este método de consulta, ele aparece de forma constante em meus estudos e me despertou grande curiosidade para ir atrás e estudar mais sobre.

### Antes de tudo:

Para acompanhar o passo a passo, disponibilizo todos os arquivos que você precisa:

Este é o dataset que será utilizado: [Avocado Prices](https://www.kaggle.com/neuromusic/avocado-prices)

E o código do tutorial você [encontra aqui!](https://github.com/matheusbattisti/pandas_query)

### loc e i loc:

Além do *query*, temos também estas duas formas excelentes para nos auxiliar na busca de dados no dataset.

A diferença do *query* para estes é que podemos utilizar uma expressão para encontrar o que buscamos, muito semelhante as queries de SQL.

Já o loc é primariamente label based, escolhemos as colunas pelo seu nome (label) e fazemos a busca com uma condição, e o iloc é index based, com este escolhemos as porções do dataset de acordo com a posição dos índices e uma condição.

Escrevi um post dedicado apenas a *loc e iloc*, se despertou sua curiosidade [confere aqui!](https://medium.com/matheusbudkewicz/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87)

### Funcionamento do query:

Por baixo dos panos os resultados do *query* são passados para um DataFrame.loc e então é nos retornado o resultado, basicamente o retorno de *query* é do mesmo tipo do que o de *loc*.

Além disso o metodo *pandas.eval()* é utilizado no processo também, para avaliar a query solicitada.

Para mais detalhes, veja a [documentação.](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html)

### Sintaxe do query:

Vamos entender como podemos utilizar o método:

In [2]:
# Importando as libs necessárias para o post
import pandas as pd
from numpy.random import randn

# Criando um dataset genérico
df = pd.DataFrame(randn(10, 2), columns=list('ab'))

# Executando a query
df.query('a >  b')

          a         b
1  2.504315 -0.903932
2  2.563634 -0.016569
6  0.456947 -1.138274
7  1.172020  0.170844
8  0.615441 -0.925126

#### df:

Aqui utilizamos nosso conjunto de dados, o que vamos aplicar a *query*.

#### query():

Chamamos o metodo *query()* no nosso conjunto de dados.

#### 'a > b':

Esta é a nossa expressão, no caso estamos solicitando todos os dados em que a é maior que b.

#### inplace:

Após a expressão o método *query*, aceita o método inplace para aplicar as modificações que fizermos no dataset, mas por default este é False.